.forgotPass__logo {
  display: block;
  width: 14rem;
  height: 6rem;
  margin: 0.5rem auto;
}

.forgotPass__section {
  min-height: 80vh;
}

#forgotPass__form {
  max-width: 35rem;
  margin: 1rem auto;
  padding: 2rem;
  font-size: 1.5rem;
  border: 1px solid var(--color-primary-grey);
  border-radius: 10px;
}
#forgotPass__form h1 {
  font-weight: 600;
  font-size: 3rem;
}
#forgotPass__form .form__control {
  padding: 0.25rem 0;
  display: flex;
  flex-flow: column;
}
#forgotPass__form .form__control label {
  padding: 0.5rem 0;
  font-weight: 600;
}
#forgotPass__form .form__control input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary-grey);
  border-radius: 4px;
  outline: none;
}
#forgotPass__form .form__control input:focus {
  outline: 2px solid var(--color-primary-orange);
}
#forgotPass__form .form__control p {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.forgotPass__submitBtn {
  background-color: var(--color-primary-orange);
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.2rem;
  transition: all 0.2s ease;
}
.forgotPass__submitBtn:hover {
  cursor: pointer;
  transform: translateY(5px);
}

.forgotPass__term {
  font-size: 1.3rem;
}
.forgotPass__term p {
  margin: 1rem 0;
}
.forgotPass__term > p:last-child {
  margin-top: 1.5rem;
}
