.checkoutItem {
  padding: 0.5rem 0;
  display: flex;
  align-items: flex-start;
}

.checkoutItem + .checkoutItem {
  margin-top: 1rem;
  border-top: 1px solid var(--color-primary-grey);
}

.checkoutItem__img {
  width: 40rem;
  height: 17rem;
  margin-right: 2rem;
  object-fit: contain;
}

.checkoutItem__detail {
  width: 100%;
}

.checkoutItem__heading {
  font-size: 2rem;
  font-weight: 800;
}

.checkoutItem__rating {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}

.checkoutItem__price {
  font-size: 2rem;
  font-weight: 600;
}

.checkoutItem__totalItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.checkoutItem__btn {
  display: flex;
  align-items: center;
  border: none;
}

.checkoutItem__itemNoBox {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
}

.checkoutItem__itemNo {
  font-size: 2rem;
  font-weight: 700;
}

.checkoutItem__removeFromCart,
.checkoutItem__addToCart {
  background-color: var(--color-primary-orange);
  font-size: 1.7rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  transition: all 0.2s ease;
}
.checkoutItem__removeFromCart:hover,
.checkoutItem__addToCart:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.checkoutItem__removeBtn {
  background-color: var(--color-primary-orange);
  font-weight: 600;
  font-size: 1.7rem;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}
.checkoutItem__removeBtn:hover {
  cursor: pointer;
  transform: scale(0.95);
}
