.review {
  padding: 2rem 1rem;
  font-size: 1.5rem;
}
.review + .review {
  border-top: 1px solid var(--color-primary-grey);
}

.review__header {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review__header > div {
  display: flex;
  align-items: center;
}

.review__header > div:last-of-type span + span {
  margin-left: 1rem;
  cursor: pointer;
}

.review__userImg {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 10rem;
  margin-right: 1rem;
}

.review__username {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
}

.review__rating {
  padding: 0.5rem 0;
}

.review__detail {
  padding: 1rem 0;
}

.review__updateForm {
  font-size: 1.5rem;
}
.review__updateForm .form__control {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
.review__updateForm .form__control label {
  padding: 1rem 0;
}
.review__updateForm .form__control textarea,
.review__updateForm .form__control input {
  background-color: var(--color-primary-grey);
  padding: 1rem;
  border-radius: 4px;
  border: none;
}
.review__updateForm .form__control textarea {
  height: 10rem;
  overflow-y: scroll;
  resize: none;
}
.review__updateForm .form__control textarea:focus {
  outline: 2px solid var(--color-primary-orange);
}
.review__updateForm button {
  background-color: var(--color-primary-orange);
  font-size: 1.7rem;
  font-weight: 600;
  width: 25rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.review__updateForm button:hover {
  cursor: pointer;
  transform: translateY(4px);
}
